<style>
  /* Adicione estilos CSS aqui para tornar o email bonito */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .footer{
    height: 72px;
    background-color: #333333;
  }
</style>

<div class="container">
  <h2>Código de ativação da conta</h2>
  <p>Olá, {{name}}</p>
  <p>Seu codigo de ativação é: <h1>{{code}}</h1></p>
  <p>Atenciosamente,<br>EduSphere</p>
  <div class="footer">

  </div>
</div>
 