.container{
  display: flex;
  height: 70px;
  gap: 12px;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
  justify-content: space-between;
  padding: 0 21px;
}

.content{
  display: flex;
  flex-direction: row;
  gap: 8px;
}