.container{
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
}

.content{
  align-items: center;
  max-width: 1220px;
  /* flex-direction: column; */
  margin: 0 auto;
  margin-top: 71px;

  display: flex;
  flex: 1;
  justify-content: space-between;
  /* background-color: red; */
  gap: 61px;
}

.cartImage{
  width: 520px;
  max-width: 100%;
  object-fit: contain;
}

.content h1{
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}

.listTickets{
  display: flex;
  gap: 12px;
  flex-direction: column;
}