.container{
  height: 42px;
  min-width: 320px;
  background-color: #25DA67;
  border-radius: 21px;
  font-family: 'Poppins';
  border: 0;
  font-weight: 600;
  font-size: 15px;
  color: #2e2e2e;

  cursor: pointer;
  transition: opacity 0.2s;
}

.inactive{
  height: 42px;
  min-width: 320px;
  background-color: #0f9647;
  border-radius: 21px;
  font-family: 'Poppins';
  border: 0;
  font-weight: 600;
  font-size: 15px;
  color: #2e2e2e;

  cursor: not-allowed;
  transition: opacity 0.2s;
}

.container:hover{
  opacity: 0.7;
}

.container:active{
  opacity: 0.5;
  /* cursor: default; */
}