.container {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
  gap: 21px;
}

.products {
  display: flex;
  flex: 1;
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.totalAmount {
  display: flex;
  flex: 1;
  flex-direction: column;
}
