.container{
  display: flex;
  flex: 1;
  min-width: 100vw;
  padding: 12px;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription{
  padding: 12px;
  background-color: var(--grey_270);
  width: 300px;
}

.subscription-list{
  display: flex;
}