:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green_500: #25DA67;
  --grey_180: #2e2e2e;
  --grey_400: #656565;
  --green_500: #25DA67;
  --green_400: #1eae53;
  --green_390: #0f9647;
  --green_900: #d3f8e1;
  --red_580: #e73f5d;
  --red_530: #d73754;
  --red_500: #d52a49;
  --orange_400: #ff9e22;
  --white: #ffffff;
  --grey_120: #1F1F1F;
  --grey_180: #2e2e2e;
  --grey_200: #333333;
  --grey_240: #3E3E3E;
  --grey_270: #464646;
  --grey_400: #656565;
  --grey_480: #737380;
  --grey_680: #AEAEAE;
  --grey_800: #CCCCCC;
  --grey_970: #f8f8f8;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

img{
  max-width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--grey_120);
}

h1,h2,h3,h4,p,span,button,li{
  font-family: "Poppins",sans-serif;  
}
