.container{
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.content{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.container a{
  padding: 10px 26px;
  align-self: flex-start;
  border-radius: 42px;
  background-color: #25DA67;
  color: #333333;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  
  cursor: pointer;
  transition: filter 0.2s;
}

.container a:hover{
  filter: brightness(0.7);
}