.container{
  display: flex;
  flex-direction: column; 
  padding: 0 14px;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
}

@media (max-width: 720px){
  .content section:first-child{
    flex-direction: column;
    display: flex;
    margin-top: 71px;
    align-items: center;
  }
}

.content section{
  display: flex;
  justify-content: space-between;
  gap: 21px;
}

.content section:first-child{
  display: flex;
  margin-top: 71px;
}

.info{
  max-width: 540px;
}

.title{
  font-size: 82px;
  line-height: 68px;
  font-family: "Poppins";
  /* color: #25DA67; */
  margin: 21px 0 0 0;
}

.description{
  font-family: "Poppins";
  font-weight: 500;
  line-height: 24px;
  color: #d9d9d9;
  margin: 21px 0;
}

.qualitiesList{
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

.squareContent{
  height: 52px;
  padding: 0 21px;
  border-radius: 5px;
  background-color: #333333;

  display: flex;
  align-items: center;
  justify-content: center;
}

.squareContent:hover{
  background-color: #444444;
}

.previewThumbnailContainer{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.previewThumbnailContainer span {
  font-size: 14px;
  margin-top: 12px;
  max-width: 540px;
}

.preview{
  width: 590px;
  object-fit: contain;
  height: auto;
}


.listSubscriptions{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cria três colunas com largura igual */
  max-width: 1240px;
  margin: 0 auto;
  gap: 12px;
}

@media (max-width: 720px){
  .listSubscriptions{
    display: flex;
    flex-direction: row;
  }
  
}

.productInfo > div{
  border: 1px solid #333333;
}

.productInfo h2,.productInfo p{
 font-family: 'Poppins';
}

.productInfo h2{
  font-size: 28px;
}

.productInfo p{
  color: #d9d9d9;
}

.productQuestions{
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.productQuestions div{
  background-color:#333333;
  padding: 12px;
  border-radius: 16px;
}

.productFeatures div{
  padding: 12px 0;
}